<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySql.Data" version="6.10.7" targetFramework="net461" />
  <package id="OcphDAL" version="4.0.3" targetFramework="net461" />
  <package id="QuickGraph.All" version="3.6.61119.8" targetFramework="net461" />
  <package id="QuickGraphPCL" version="3.6.61114.2" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net461" />
</packages>